.landing-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}


.landing-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.landing-left {
  flex: 1;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  padding: 20px;
}

.landing-left {
  background-color: rebeccapurple;
}

.landing-divider {
  width: 2px;
  background-color: #ccc;
  height: 100vh;
}

.login-span {
    margin-right:10px;
}
